{% extends 'base.html' %}
{% load static %}

{% block main-banner %}{% endblock main-banner %}

{% block main %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
	<!-- ============================ COMPONENT REGISTER   ================================= -->
		<div class="card mx-auto" style="max-width:500px; margin-top:40px;">
		  <article class="card-body">
			<header class="mb-4"><h4 class="card-title">Sign up</h4></header>
			<form method="POST" class="shadow p-5">

				{% csrf_token %}

				{% if form.non_field_errors %}
				{% for error in form.non_field_errors %}
				<p class="alert alert-danger my-3">{{error}}</p>
				{% endfor %}
				{% endif %}
		  
				{% if messages %}
				{% for message in messages %}
				<p {% if message.tags %}class="alert-{{message.tags}} p-2 rounded"{% endif %}>{{message}}</p>
				{% endfor %}
				{% endif %}
		  
				{% for fm in form %}
				{{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors | striptags}}</small>
				{% endfor %}

				<button class="btn btn-primary mt-2">Submit</button>
			</form>
			
		</div> <!-- card .// -->
		<p class="text-center mt-4">Have an account? <a href="">Log In</a></p>
		<br><br>
	<!-- ============================ COMPONENT REGISTER  END.// ================================= -->
	</section>
	<!-- ========================= SECTION CONTENT END// ========================= -->

	 

	{% endblock main %}